<%- include('partials/header') %>

<main>
  <h1>Stock</h1>
  <% stock.forEach(function(aliment) { %>
  <p><%= aliment.nom %></p>
  <% if (aliment.tracking_type === 'cl') { %>
  <p><%= aliment.quantite %></p>
  <% } else { %>
  <p><%= aliment.quantite %> <%= aliment.unite %></p>
  <% } %>
  <% if (aliment.jours_depuis === 0) { %>
  <p>aujourd'hui</p>
<% } else if (aliment.jours_depuis === 1) { %>
  <p>il y a 1 jour</p>
<% } else { %>
  <p>il y a <%= aliment.jours_depuis %> jours</p>
<% } %>
  <% }) %>
</main>

<%- include('partials/footer') %>